.container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.button {
  width: 120px;

  position: relative;
  padding: 12px 32px;
  font-size: 20px;
  color: #fff;
  background: #111;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff00ff, #00ffff, #ff00ff);
  background-size: 300% 100%;
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: neon-border 4s linear infinite;
  z-index: -1;
}

.button:hover {
  box-shadow: 0 0 5px #ff00ff, 0 0 5px #00ffff;
  color: #0ff;
}

@keyframes neon-border {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }
}

.time {
  font-size: 38px;
  font-family: 'Fira Code', monospace;
  width: 120px;
}