#root {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 18px;
}

.input-gamers-number {
  width: 40px;
  height: 40px;
}

.generate {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  font-size: 30px;
}

.generate input {
  font-size: 30px;
}

.role {
  display: flex;
}

.role ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}